<!DOCTYPE html>
<html lang="en">
<head>
    <title>Node Js</title>
    <link href="./css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h1 class="logo">Free Fire</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/About-Us">About-Us</a></li>
                    <li><a href="/Quiz">Quiz</a></li>
                    <li><a href="/Tornaments">Tornaments</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>